<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PyNSK - сайт о Python</title>
    <script type="text/javascript"
            src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['corechart', 'timeline']}]}"></script>
</head>
<body>


<div style="text-align: center;">
    <input id="dot_value" type="number"/>
    <button id="add_dot">Добавить значение на график</button>
</div>
<hr>
<div id="chart_div"></div>


<script>
    var ajax = {};


    var dynamic_data = [];

    var json_data = {{ data|safe }};
    json_data.forEach(function (element) {
        dynamic_data.push([new Date(element[0]), element[1]]);
    });

    var chart = new google.visualization.LineChart(
            document.getElementById('chart_div'));

    google.load('visualization', '1', {packages: ['corechart']});
    google.setOnLoadCallback(drawChart);

    function genOptions() {
        return {
            height: 500,
            legend: {position: 'none'},
            enableInteractivity: false,
            title: 'Статистика отжиманий от пола',
            chartArea: {
                width: '85%'
            },
            hAxis: {
                title: 'Время',
                gridlines: {
                    count: -1,
                    units: {
                        days: {format: ['MMM dd']},
                        hours: {format: ['HH:mm', 'ha']}
                    }
                },
                minorGridlines: {
                    units: {
                        hours: {format: ['hh:mm:ss a', 'ha']},
                        minutes: {format: ['HH:mm a Z', ':mm']}
                    }
                }
            },
            vAxis: {
                title: 'Количество отжиманий',
                minValue: 0
            }
        };
    }

    function genData(dynamic_data) {
        var data = new google.visualization.DataTable();
        data.addColumn('datetime', 'X');
        data.addColumn('number', 'Отжимания');
        data.addRows(dynamic_data);
        return data;
    }

    function drawChart() {
        chart.draw(genData(dynamic_data), genOptions());
    }

    var button = document.getElementById('add_dot');

    button.onclick = function () {
        var val = document.getElementById('dot_value').value;
        dynamic_data.push([new Date(), Number(val)]);
        drawChart();
        ajax.get('/save', {value: val}, function () {

        });
    };


    ajax.x = function () {
        if (typeof XMLHttpRequest !== 'undefined') {
            return new XMLHttpRequest();
        }
        var versions = [
            "MSXML2.XmlHttp.6.0",
            "MSXML2.XmlHttp.5.0",
            "MSXML2.XmlHttp.4.0",
            "MSXML2.XmlHttp.3.0",
            "MSXML2.XmlHttp.2.0",
            "Microsoft.XmlHttp"
        ];

        var xhr;
        for (var i = 0; i < versions.length; i++) {
            try {
                xhr = new ActiveXObject(versions[i]);
                break;
            } catch (e) {
            }
        }
        return xhr;
    };

    ajax.send = function (url, callback, method, data, sync) {
        var x = ajax.x();
        x.open(method, url, sync);
        x.onreadystatechange = function () {
            if (x.readyState == 4) {
                callback(x.responseText)
            }
        };
        if (method == 'POST') {
            x.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
        }
        x.send(data)
    };

    ajax.get = function (url, data, callback, sync) {
        var query = [];
        for (var key in data) {
            query.push(encodeURIComponent(key) + '=' + encodeURIComponent(data[key]));
        }
        ajax.send(url + (query.length ? '?' + query.join('&') : ''), callback, 'GET', null, sync)
    };

    ajax.post = function (url, data, callback, sync) {
        var query = [];
        for (var key in data) {
            query.push(encodeURIComponent(key) + '=' + encodeURIComponent(data[key]));
        }
        ajax.send(url, callback, 'POST', query.join('&'), sync)
    };

</script>

</body>
</html>