<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PyNSK - сайт о Python</title>
    <script type="text/javascript"
            src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['corechart', 'timeline']}]}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</head>
<body>


<div style="text-align: center;">
    <input id="dot_value" type="number"/>
    <button id="add_dot">Добавить значение на график</button>
</div>
<hr>
<div id="chart_div"></div>


<script>
    var ajax = {};


    var dynamic_data = [];

    var json_data = {{ data|safe }};
    json_data.forEach(function (element) {
        dynamic_data.push([new Date(element[0]), element[1]]);
    });

    var chart = new google.visualization.LineChart(
            document.getElementById('chart_div'));

    google.load('visualization', '1', {packages: ['corechart']});
    google.setOnLoadCallback(drawChart);

    function genOptions() {
        return {
            height: 500,
            legend: {position: 'none'},
            enableInteractivity: false,
            title: 'Статистика отжиманий от пола',
            chartArea: {
                width: '85%'
            },
            hAxis: {
                title: 'Время',
                gridlines: {
                    count: -1,
                    units: {
                        days: {format: ['MMM dd']},
                        hours: {format: ['HH:mm', 'ha']}
                    }
                },
                minorGridlines: {
                    units: {
                        hours: {format: ['hh:mm:ss a', 'ha']},
                        minutes: {format: ['HH:mm a Z', ':mm']}
                    }
                }
            },
            vAxis: {
                title: 'Количество отжиманий',
                minValue: 0
            }
        };
    }

    function genData(dynamic_data) {
        var data = new google.visualization.DataTable();
        data.addColumn('datetime', 'X');
        data.addColumn('number', 'Отжимания');
        data.addRows(dynamic_data);
        return data;
    }

    function drawChart() {
        chart.draw(genData(dynamic_data), genOptions());
    }

    var button = document.getElementById('add_dot');

    button.onclick = function () {
        var val = document.getElementById('dot_value').value;
        dynamic_data.push([new Date(), Number(val)]);
        drawChart();

        $.ajax({
            url: "/save",
            data: {'value': val}
        }).done(function () {
            console.log('OK')
        });


    };

</script>

</body>
</html>